.addButton {
    margin-left: 20px;
}

.myCol {
    padding: 0 20px;
}

.list-group-item:hover {
    background-color: rgba(167, 249, 164, 0.521);
}

.list-group-item.disabled {
    background-color: rgba(173, 173, 173, 0.646);
}