<main>
  <div class="container mb-4">
    <h1 class="display-2 text-center">Searchable Dynamic To-Do List</h1>
    <div class="row">
        <div class="col-12 col-md-6 px-4" id="pendingDiv">
            <div class="mb-2">
                <h2 class="text-center">Pending</h2>
                <form action="">
                    <div class="row justify-content-between">
                        <div class="input-group col-md-6 mt-2">
                            <input type="text" class="form-control" placeholder="Search" id="searchBar">
                        </div>
                        <div class="input-group col-md-6 mt-2">
                            <input type="text" class="form-control" placeholder="To-Do" id="addItemInput">
                            <button class="btn btn-success" type="submit" id="addItemButton">+</button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="list-group" id="pendingList"></ul>
        </div>
        <div class="col-12 col-md-6 px-4" id="completedDiv">
            <h2 class="text-center">Completed</h2>
            <ul class="list-group" id="completedList"></ul>
        </div>
    </div>
</div>
</main>